*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    background-color: rgb(225, 225, 225);
}
main{
    margin: 100px;
}
h1{
    font-size: 70px ;
    font-family: Arial, Helvetica, sans-serif;
}
p{
    font-size: 17px;
    margin-top: 50px;
    font-family: Arial, Helvetica, sans-serif;
}
.images{
    display: flex;
    gap: 20px;
    margin-top: 50px;
}
.one{
    height: 500px;
    width: 500px;
    border: 1px solid transparent;
    background-image: url('https://assets.venuecrew.com/wp-content/uploads/2020/07/12191345/The-Gherkin-Private-Dining-Restaurant-Level-39.jpg');
    background-size: cover;
    background-position: center;
    filter: grayscale(100%);
    border: none;
}
.two{
    height: 500px;
    width: 1000px;
    border: 1px solid black;
    background-image: url('https://images.presentationgo.com/2025/04/gherkin-building-london-light-trails.jpg');
    background-size: cover;
    filter: grayscale(100%);
    border: none;
}