*{
    margin: 0px;
    padding: 0%;
    /* padding-left: 5px; */
}
body{
    background-image: url(assets/img/mainPageImg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100vw;
}
.nav{
    padding-top: 55px;
    padding-left: 240px;
}
nav{
    display: flex;
    background-color: rgba(0, 0, 0, 0.365);
    border-radius: 30px;
    width: 60vw;
    justify-content: space-around;
    padding: 10px;
}
nav li{
    list-style-type: none;
}
nav li a{
    align-items: center;
    font-size: 22px;
    color: white;
    text-decoration: none;
}
.yearandLogo{
    padding-top: 40px;
    display: flex;
}
.logo{
    background-image: url(assets/img/logo.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 180px;
    height: 130px;
}

.year p{
    color: gray;
    font-weight: bold;
    font-size: 60px;
    padding-left: 530px;
}
.line{
    padding: 30px;
    padding-top: 70px;
}
.line .normal{
    font-size: 30px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}
.line .mainHeading{
    font-size: 100px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.arrow{
    border-radius: 40px;
    border: 2px solid gray;
    /* filter: grayscale(1); */
    
}
.pAndButton button, .pAndButton a{
    border: none;
    background-color: transparent;
    padding: 0%;
    padding-top: 30px;
    padding-left: 10px;
}
.pAndButton{
    display: flex;
}
footer{
    background-color: rgba(0, 0, 0, 0.205);
    font-size: 20px;
    text-align: center;
    position: relative;
    top: 330px;
    color: rgba(255, 255, 255, 0.664);
    padding: 15px;
}
footer p{
    display: inline;
}
