*{
    margin: 0px;
    padding: 0%;
    /* padding-left: 5px; */
}

body{
    background-image: url(assets/img/mainPageImg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100vw;
    /* padding-left: 30px; */
}
header{
    text-align: center;
    display: flex;
    margin-top: 60px;
    /* justify-content: center; */
    align-items: center;
}
.nav{
    padding-top: 55px;
    padding-left: 240px;
}
nav{
    display: flex;
    background-color: rgba(0, 0, 0, 0.365);
    border-radius: 30px;
    width: 60vw;
    justify-content: space-around;
    padding: 10px;
}
nav li{
    list-style-type: none;
}
nav li a{
    align-items: center;
    font-size: 22px;
    color: white;
    text-decoration: none;
    /* tdj */
}
nav li a:hover{
    color: whitesmoke;
    /* font-weight: bold; */
}
.yearandLogo{
    padding-top: 40px;
    display: flex;
}

main{
    margin-left: 80px;
    margin-top: 30px;
}
.logo{
    background-image: url(assets/img/logo.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 250px;
    height: 70px;
    /* margin-left: 50px; */
    margin-top: 5px;
}

.year p{
    color: gray;
    font-weight: bold;
    font-size: 60px;
    padding-left: 390px;
}
.line{
    /* padding: 30px; */
    padding-top: 50px;
    /* margin-left: 20px; */

}
.line .normal{
    font-size: 50px;
    font-family:'Times New Roman', Times, serif;
}
.line .mainHeading{
    font-size: 120px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.pAndButton a{
    border: none;
    padding: 0%;
    padding-top: 50px;
    /* padding-left: 10px; */
}
.pAndButton img{
    width: 110px;
    margin-top: 10px;
}
.pAndButton{
    display: flex;
}
footer{
    background-color: rgba(0, 0, 0, 0.205);
    font-size: 20px;
    text-align: center;
    margin-top: 266px;
    color: rgba(255, 255, 255, 0.664);
    padding: 15px;
}
footer p{
    display: inline;
}
