
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(225, 225, 225);
    padding: 30px 75px; 
    font-family: sans-serif;
    margin-left: 75px;
    margin-right: 75px;
    margin-top: 20px;
}

.container {
    display: flex;
    align-items: center; 
    margin-bottom: 20px;
}

.logo img {
    width: 155px;
    height: 75px;
    
    display: block; 
}

.line {
    height: 0px;
    
    flex-grow: 1; 
    border: 1px solid black;
    margin-left: 20px; 
    margin-top: 10px; 
}


main {
    display: grid;
    
    
    grid-template-columns: 2fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    
    gap: 10px;
    padding-top: 20px;
    
    
    min-height: 60vh; 
}

.item1, .item2, .item3, .item4, .item5, .item6 {
    /* border: 1px solid black; */
    /* background-color: white;  */
    padding: 5px;
}
main img {
    height: 100%;
    width: 100%;
}
.item4{
    display: flex;
    gap: 10px;
}
/* .p1, .p2 {
    border: 1px solid black;

} */
 .num1, .num2{
    display: inline;
    border: 1px solid black;
    padding: 2px;
 }
.item1 h1{
    font-size: 80px;
}
