*{
    margin: 0px;
    padding: 0px;
}
body{
    background-color: rgb(225,225,225);
    padding: 30px;
}
.container {
    display: flex;
}
.line{
    /* display: flex; */
    height: 0px;
    width: 100vh;
    border: 1px solid black;
    /* background-image: url(assets/img/logo.png); */
}
.logo img{
    width: 120px;
    padding-top: 15px;
    

    /* display: inline; */
}
.line{
    margin-top: 50px;
    width: 100%;
}