*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.pg1{
   height: 100vh;
   width: 100vw;
    background-color: #e1e1e1;
}

.top{
    display: grid;
    grid-template-columns: 20% 80%;
    height: 25vh;
    width: 100vw;
    align-items: center;
}

#black-box{
    height: 65px;
    width: 155px;
    margin-left: 75px;
    background-image: url(assets/img/logo.png);
    background-size: cover;
}

#black-line{
    height: 1px;
    width: 100vw;
    background-color: black;
    margin-left: -40px;
}

.mid{
    display: grid;
    height: 25vh;
    width: 100vw;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
}

#calista{
    height: 100px;
    width: 400px;
    margin-left: 75px;
    font-size: 40px;
}

#arrow{
    height: 65px;
    width: 155px;
    background-image: url(assets/img/arrow.png);
    background-size: 80%;
    background-repeat: no-repeat;
    background-position: center;
    margin-left: 55px;
}

#para{
    display: flex;
    height: 100px;
    width: 500px;
    margin-right: 75px;
    align-items: center;
    justify-content: flex-end;
    text-align: left;
}

.bot{
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-gap: 20px;
    align-items: end;
    height: 50vh;
    width: 100vw;
}

#img1{
    background-image: url(assets/img/Untitled\ design.png);
    background-size: cover;
    background-position: center;
    grid-column: 1;
    margin-left: 75px;
    width: 450px;
    height: 450px;
}

#img2{
    background-image: url(assets/img/Untitled\ design2.png);
    background-size: cover;
    margin-right: 75px;
    width: 900px;
    height: 450px;
}

